@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&family=Ovo&display=swap'); */

* {
  font-family: Outfit;
}

/* Light mode styles */
.bg-

\[url\(\/footer-bg-color\.png\)\]

 {
  background-image: url('/footer-bg-color.png');
}
.bg-

\[length\:90\%_auto\]

 {
  background-size: 90% auto;
}

/* Dark mode styles */
:root.dark * {
  color: #e5e5e5; /* Light text in dark mode */
}
:root.dark body {
  background-color: #1a1a1a; /* Dark background color */
}
:root.dark .bg-

\[url\(\/footer-bg-color\.png\)\]

 {
  background-image: url('/footer-bg-dark-color.png'); /* Optional dark background image */
}
